services:
  agent-ingest:
    image: sammascanner/wazuh-agent:regular_0.2
    volumes:
      -  /etc:/hostfs/etc
      -  /usr/local/bin:/hostfs/usr/local/bin
      -  /var/log:/hostfs/var/log
      -  /var/run:/hostfs/var/run
      - /bin:/hostfs/bin
      - /boot:/hostfs/boot
      - /dev:/hostfs/dev
      - /lib:/hostfs/lib
    environment:
      - MANAGER_URL=10.0.0.33 # Manager ip 
      - MANAGER_PORT=32299 # should go to manager port 1515
      - SERVER_URL=10.0.0.106 # Worker IP
      - SERVER_PORT=1514   # should go to worker port 1514
      - NAME=docker-ve # name update need to be new so it can register
      - GROUP=vete  #The groups need to create in wazuh before you can add then
      - ENROL_TOKEN=CUSTOM_PASSWORD  # set the token to enroll 